@using _6351071005_LTWEB_K63.Models
@using PagedList.Mvc;
@model PagedList.PagedList<XEGANMAY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <!-- Phần bên trái (chủ đề sách) -->
        <div class="col-md-3 left-container">
            @Html.Action("LoaiXe", "Home")
            @Html.Action("Nhaphanphoi", "Home")
        </div>

        <!-- Phần bên phải (danh sách sách) -->
        <div class="col-md-9 right-content">
            <div class="row">
                @foreach (var xe in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="@Url.Action("Details", "Home", new { id = xe.MaXe })">
                                <img src="~/images/@xe.Anhbia" alt="hinh anh xe" width="150" />
                                <div>
                                    <br />
                                    <h4 style="text-align: center">@xe.TenXe</h4>
                                    <p></p>
                                </div>
                                <div class="rating">
                                    <p class="pull-right">15 reviews</p>
                                    <p>
                                        <span>&#9733;</span>
                                        <span>&#9733;</span>
                                        <span>&#9733;</span>
                                        <span>&#9733;</span>
                                        <span>&#9733;</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 0;
        list-style: none;
    }

        .MenuTrang li {
            margin: 0 5px;
        }

        .MenuTrang a {
            display: block;
            padding: 8px 16px;
            border: 1px solid #248958; /* Color matching hover effect */
            border-radius: 4px;
            text-decoration: none;
            color: #248958;
            font-weight: bold;
            transition: background-color 0.3s, color 0.3s;
        }

            .MenuTrang a:hover,
            .MenuTrang a:focus {
                background-color: #248958;
                color: #ffffff;
            }

        .MenuTrang .active a {
            background-color: #248958;
            color: #ffffff;
            cursor: default;
            pointer-events: none;
        }

        .MenuTrang a.disabled {
            color: #cccccc;
            border-color: #cccccc;
            pointer-events: none;
        }
</style>
