﻿@model _6351071005_LTWEB_K63.Models.XEGANMAY

@{
    ViewBag.Title = "Suaxe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ĐIỀU CHỈNH THÔNG TIN XE</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaXe)
        <div class="form-group">
            @Html.LabelFor(model => model.MaXe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font: 18px; padding: 5px 0 0 5px">@Model.MaXe</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenXe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenXe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenXe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Giaban, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mota, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Mota">Mô tả thông tin xe</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anhbia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileUpload" />
                <img src="@Url.Content("~/images/" + Model.Anhbia)" width="120" /> (Ảnh hiện tại)
                @ViewBag.ThongBao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaycapnhat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Ngaycapnhat, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="date" name="Ngaycapnhat" />
                @Html.ValidationMessageFor(model => model.Ngaycapnhat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Soluongton, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaLX, (SelectList)ViewBag.MaLX, "-- Chọn Loại Xe --", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNPP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaNPP, (SelectList)ViewBag.MaNPP, "-- Chọn Nhà Phân Phối --", new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("TRỞ VỀ", "Xe")
</div>


<style>
    /* Căn chỉnh tổng thể form */
    .form-horizontal {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        color: #343a40;
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    /* Nhãn tiêu đề cho form */
    .form-horizontal h4 {
        color: #495057;
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

    /* Kiểu dáng cho các nhãn */
    .form-horizontal .control-label {
        color: #343a40;
        font-weight: bold;
        font-size: 1em;
        text-align: right;
    }

    /* Kiểu dáng và căn chỉnh input */
    .form-horizontal .form-control {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ced4da;
        border-radius: 4px;
        box-sizing: border-box;
    }

        .form-horizontal .form-control:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

    /* Bố cục form để các mục input đều nhau */
    .form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
    }

        .form-group .col-md-2 {
            flex-basis: 25%;
            text-align: right;
            padding-right: 10px;
        }

        .form-group .col-md-10 {
            flex-basis: 75%;
        }

    /* Căn chỉnh nút bấm */
    .form-horizontal .btn {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 1em;
        transition: background-color 0.3s;
    }

        .form-horizontal .btn:hover {
            background-color: #218838;
            color: #ffffff;
        }

    .form-horizontal .btn-default {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        font-size: 1em;
    }

        .form-horizontal .btn-default:hover {
            background-color: #0056b3;
        }

    /* Kiểu dáng cho thông báo lỗi */
    .text-danger {
        color: #dc3545;
        font-size: 0.9em;
        margin-top: 5px;
    }
</style>